    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
    <script src="https://cdn.tailwindcss.com"></script>

<link href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" />
</head>

<body>
    <div class="min-h-screen p-10 pt-32 h-100">
        <nav class="navbar w-full bg-white">
            <div class="container-lg px-0">
                <div class="flex w-full items-center">
                    <p class="nav-brand mr-auto ml-0" href="">PowerVault</p>
                    <button navbar-trigger="" class="navbar-trigger ml-auto mr-0 mb-0 lg:hidden xl:hidden" type="button"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-trigger-icon">
                            <span bar1="" class="navbar-trigger-bar mt-1"><span
                                    class="hidden origin-[10%_10%] rotate-45"></span></span>
                            <span bar2="" class="bar2 navbar-trigger-bar mt-2"></span>
                            <span bar3="" class="bar3 navbar-trigger-bar mt-2"><span
                                    class="mt-mt-[0.4375rem] hidden origin-[10%_90%] -rotate-45"></span></span>
                        </span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" navbar-menu="">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" aria-current="page" href="/profile">
                                <i class="material-icons mr-2 text-base opacity-60">article</i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/feed">
                                <i class="material-icons mr-2 text-base opacity-60">apps</i>
                                <span>Feed</span>
                            </a>
                        </li>
                        <li class="flex">
                            <a class="nav-link" href="/logout">
                                <i class="material-icons mr-2 text-base opacity-60">logout</i>
                                <span>Log Out </span>
                            </a>
                        </li>  
                    </ul>
                </div>
            </div>
        </nav>

    
    </div>
    </div>

    <!-- from cdn -->
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>

</body>
</html>